/* navbar */
#nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
#logo{
    width: 10vw;
}
#logo>img{
    height: 60px;
    margin-left: 10px;
}

#nav>div:nth-child(2){
    width: 30vw;
    height: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
}

#nav>div:nth-child(2)>span{
    cursor: pointer;
}

.loginbar{
    text-align: center;
    line-height: 60px;
    font-weight: 400;
    color: grey;
    font-size: 20px;
    font-weight: 600;
    margin-right: 40px;
}

#mob{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    justify-content: space-around;
}

/* main */
main{
    margin-top: 70px;
    display: flex;
}

main>div{
    width: 50vw;
    height: 550px;
}

#wallpaper>img{
   width: 80%;
   margin-left: 10%;
}

#mainBox>h2{
    text-align: center;
    margin-top: 30%;
    color: rgb(66, 64, 64);
}

/* forms */
.fromBG{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.formCss{
    width: 400px;
    height: max-content;
    background-color: antiquewhite;
    opacity: 1;
    border-radius: 10px;
    padding-top: 15px;
    color: rgb(66, 64, 64);
    font-weight: 600;
    position: relative;
    z-index: 1;
    top: 40px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.formCss>p{
    text-align: center;
}

.formCss>span{
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: 100;
    cursor: pointer;
}

.formCss>input{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-left: 5%;
    border: none;
}
.formCss>input:first-child{
    margin-top: 15px;
}
.formCss>input:last-child{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
}

.formCnt{
    display: block;
}
